
.modals {
    
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }

  .modals{
    width: 1000px;
    height: 400px;
    overflow-y:scroll;
  }

  .btns button:active{
    background-color:red;
    border-color: red;
    color: white;
  }

  .total{
    display: flex;
    gap:20px;
    margin-left: 400px;
    background-color: rgb(31, 235, 31);
    color: black;
    padding-left: 15px;
    border:solid;
    border-color: black;
    border-width: 0.4px;
  }
  .total h1{
    font-size: x-large;
  }

  .btns button{
    background-color: rgb(254, 41, 41);
  }