.container1{

    padding:100px 100px;
    justify-content: center;
    margin:100px 100px;
    border:solid;
    border-radius: 5px;
    border-color: rgb(157, 164, 167);
}


.col input{

    width: 800px;
    border:solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(46, 47, 48);
    margin-bottom: 50px;
    
}


.title{
    margin:50px 330px;
    font-family:cursive;
    font-size:20px;
    font-weight: bold;
}

.col h1{
    color:rgb(6, 6, 6);
}


.button button{
    border-color: aqua;
    background-color: aqua;
    border-radius: 5px;
    margin:0px 380px;
}