.col1{
    display: flex;
    gap:156px;
    margin :10px;
}
.col2{
    display: flex;
    gap:128px;
    margin :10px
}
.col3{
    display: flex;
    gap:40px;
    margin :10px
}


.cont{
    margin-left: 350px;
    margin-right: 400px;
    border:solid;
    border-color: black;
    border-radius: 10px;
    background-color: #8ca5cc;
}

.col1 input{
    border:solid;
    border-radius: 5px;
    border-width: 2px;
    height: 37px;
}

.col2 input{
    border:solid;
    border-radius: 5px;
    border-width: 2px;
    height: 37px;
}

.col3 input{
    border:solid;
    border-radius: 5px;
    border-width: 2px;
    height: 37px;
}


.title h1{
 
    font-size:25px;
    margin-left: 130px;

}

.col4{
    margin-left: 200px;
}

.col4 button{
    background-color: rgb(68, 123, 174);
    border:solid;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
}