.cont{
    margin-top: 100px;
}

.container{
    justify-content: center;
}

.cont2{
    justify-content: end;
    margin-top:140px;
    background-color: rgb(71, 203, 255);
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 800px;
}

.cont2 h1{
    margin-top: 200px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.cont li{
    list-style:none
}


.row{
    margin-bottom:30px;
}

.col h1{
    
    font-size: small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.load h1{
    font:bolder
}


.load{
    display: flex;
    justify-content: center;

}



.loader{
    border:10px solid black;
    border-top:10px solid rgb(110, 105, 105);
    border-radius:50%;
    width:100px;
    height: 100px;
    animation: load 2s linear infinite;
}



@keyframes load{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}

}