.head{
    display: flex;
    justify-content: center;
    gap:50px;
    list-style:None;background-color: black;
}

.btn{
    background-color: black;
    color: white;
    border:solid;
    
    border-color:black ;
}



.cart{
    margin-left: 100px;
}


.head1 :hover{
    
    color:white;
    font-weight: bold;
    background-color:  #587ec0;
}


.head1 :active{
    color: black;
    background-color: #587ec0;
}

.headin{
    color: black;
    border:solid;
    border-color: #6a7a95;
    font-size:50px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color:#8ca5cc;
}

.quot h1{
    font-size:small;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.btn :active{
    color: red;
}

.btn :hover{
    color: red;
}